[submodule "detris-frontend"]
	path = detris-frontend
	url = git@github.com:finiam/detris-frontend.git
[submodule "detris-contracts"]
	path = detris-contracts
	url = https://github.com/finiam/detris-contracts
[submodule "detris-wasm"]
	path = detris-wasm
	url = git@github.com:finiam/detris-wasm.git
